{% extends 'master.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block style %}
    body {
        font-family: Arial, sans-serif;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
{% endblock %}

{% block content %}
    <center><h1>Forgot Password</h1></center>
    <form action="{% url 'forgot_password' %}" method="post">
        {% csrf_token %}
        <label for="email">Enter your email address:</label>
        <input type="email" id="email" name="email" required>
        <center>
            {% if error_message %}
                <p style="color: red">
                    {{ error_message }}
                </p>
            {% endif %}
            {% if success_message %}
                <p style="color: green">
                    {{ success_message }}
                </p>
            {% endif %}
        </center>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}