{% extends 'master.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <center>
                {% if error_message %}
                    <p style="color: red">
                        {{ error_message }}
                    </p>
                {% endif %}
                <p>Not having an account? <a href="{% url 'register' %}">Register</a></p>
            </center>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}