{% extends 'master.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block style %}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    .container {
        width: 400px;
        margin: 100px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    form div {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
{% endblock %}

{% block content %}
    <form action="{% url 'reset_password' email=email token=token %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_password">New Password:</label>
            <input type="password" name="password" id="id_password" required>
        </div>
        <div>
            <label for="id_confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="id_confirm_password" required>
        </div>
        <center>
            {% if error_message %}
                <p style="color: red">
                    {{ error_message }}
                </p>
            {% endif %}
            {% if success_message %}
                <p style="color: green">
                    {{ success_message }}
                </p>
            {% endif %}
        </center>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}